.dark_mode .output_container * {
  --table-border-color: #ffffff67;
  --table-bg-2n-color: #757575;
  color: var(--neutral-color);
}

.output_container > * {
  --table-border-color: #00000018;
  --table-bg-2n-color: #00000007;
  color: #444444;
  font-family: var(--text-font);
}

.output_container > :first-child {
  margin-top: 0 !important;
}

.output_container h1,
.output_container h2,
.output_container h3 {
  padding-bottom: 0.5rem;
  position: relative;
}

.output_container h1::after,
.output_container h2::after,
.output_container h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00000027;
  width: 100%;
  height: 1px;
}

.output_container h1,
.output_container h2,
.output_container h3,
.output_container h4,
.output_container h5,
.output_container h6 {
  margin: 1rem 0;
}

.output_container p {
  margin: 0.5rem 0;
  margin-left: 1rem;
}

.output_container ul,
.output_container ol {
  padding-left: 2rem;
}

.output_container table,
.output_container th,
.output_container td {
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
}

.output_container td,
.output_container th {
  padding: 0.5rem 1rem;
}

.output_container tr:nth-child(2n) {
  background-color: var(--table-bg-2n-color);
}

.output_container a {
  color: #008cff !important;
}

.output_container a:hover {
  color: #59b4ff !important;
}
