.App {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-template: min-content auto / auto;
}

.container {
  display: grid;
  height: 100%;
  grid-template: 100% / repeat(2, 50%);
  overflow-y: hidden;
}
