:root {
  --neutral-color: rgb(219, 219, 219);
  --dark-color: #202020;
  --primary-font: "Roboto Condensed";
  --text-font: "Poppins";
  --code-font: "Inconsolata";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 600;
}

p {
  font-family: var(--text-font);
}

textarea {
  font-size: 1rem;
  font-family: var(--code-font);
}

textarea:focus {
  outline: none;
}
